/* SHOP */
/* section .shop {
    position: absolute;
    background: url(../img/donate_bg.jpg) no-repeat top center;
    background-size: cover;
    height: 100%;
    left: 0px;
    width: 100%;
} */
section .shop h5
{
    font-family: TT Norms;  font-size: 36px;  font-weight: bold;  font-style: normal;  line-height: 42px;  display: -ms-flexbox;  display: flex;  -webkit-box-pack: left;  -ms-flex-pack: left;  justify-content: left;  padding-top: 150px;  padding-bottom: 50px;  color: #fff;
}

section .shop .block
{
    position: relative;  z-index: 0;  display: -ms-flexbox;  display: flex;  -webkit-box-orient: horizontal;  -webkit-box-direction: normal;  -ms-flex-direction: row;          flex-direction: row;  -ms-flex-wrap: wrap;          flex-wrap: wrap;  justify-content: space-between;  height: auto;  margin-top: 60px;  margin-bottom: 90px;
}

.checkbox
{
    font-family: TT Norms;  font-size: 20px;  font-weight: 500;  font-style: normal;  line-height: 19px;  display: flex;  align-items: center;  justify-content: center;  cursor: pointer;

/* identical to box height */

    color: #fff;
}

.checkbox .block_box
{
    position: relative;  display: flex;  align-items: center;  justify-content: center;  width: 28px;  height: 28px;  margin-right: 15px;

/* border: 1px solid #544e61; */

    border-radius: 50px;
}

.checkbox .block_box::after
{
    position: absolute;  width: 28px;  height: 28px;  content: '';  transition: .3s all;  transform: scale(1);  border-radius: 18px;  background: #544e61;
}

.checkbox .block_box.active
{
    border: 1px solid #ffbc1c;
}

.checkbox .block_box.active::after
{
    background: #2982fe;  box-shadow: 0 7px 16px 1px rgba(113, 71, 232, .51);
}

.checkbox input
{
    display: none;
}

@media screen and (max-width: 430px)
{
    section .shop .block .items_list .server_items .content .products .column
    {
        width: 100%;
    }

    section .shop .block .items_list .server_items .content .products,
    section .shop .block .items_list .server_items .content .footer
    {
        flex-wrap: wrap;
    }

    section .shop .block .items_list .server_items .content .footer .right
    {
        margin-top: 50px;
    }
}

section .shop .block .items_list
{
    box-sizing: border-box;  width: 765px;  height: 100%;

/* border-radius: 5px; */

    border-radius: 15px;  background: rgb(0 0 0 / 40%);  box-shadow: 0 7px 16px 1px rgba(113, 71, 232, .51);
}

section .shop .block .items_list .header
{
    display: flex;  align-items: center;  justify-content: space-between;  height: 70px;
}

section .shop .block .items_list .header .button
{
    font-size: 16px;  font-weight: bold;  line-height: 19px;  display: flex;  align-items: center;  flex: 1;  justify-content: center;  height: 100%;  cursor: pointer;  color: #fff;  background: #1f1b29;
}

section .shop .block .items_list .header .button .icon
{
    width: 24px;  height: 24px;  background-image: url(/img/donate/server_white.png);  background-repeat: no-repeat;  background-position: center;  background-size: 95%;
}

section .shop .block .items_list .header .button:nth-child(1)
{
    border-radius: 5px 0 0 0;
}

section .shop .block .items_list .header .button:nth-last-child(1)
{
    border-radius: 0 5px 0 0;
}

section .shop .block .items_list .header .button:hover,
section .shop .block .items_list .header .button.active
{
    color: #0e0e0e;  background: linear-gradient(180deg, #ffbc1c .01%, #ffb800 100%);
}

section .shop .block .items_list .header .button:hover .icon,
section .shop .block .items_list .header .button.active .icon
{
    background-image: url(/img/donate/server_black.png);  background-repeat: no-repeat;  background-position: center;  background-size: 95%;
}

section .shop .block .items_list .server_items .nav
{
    display: flex;  align-items: center;  justify-content: space-between;  height: 70px;
}

section .shop .block .items_list .server_items .nav .button
{
    font-size: 23px;  font-weight: bold;  font-style: normal;  line-height: 140%;  display: flex;  align-items: center;  flex: 1;  justify-content: center;  height: 100%;

/* font-weight: bold; */
    /* font-size: 20px; */
    padding-top: 5px;  cursor: pointer;  -webkit-transition: color .5s ease;            -o-transition: color .5s ease;                  transition: color .5s ease;  letter-spacing: .02em;      color: #fff;

/* font-weight: 700; */
    color: #a0a0a0;

/* line-height: 19px; */
    border-bottom: 4px solid transparent;
}

section .shop .block .items_list .server_items .nav .button:hover,
section .shop .block .items_list .server_items .nav .button.active
{
    -webkit-transition: color .5s ease;      -webkit-transition: border.5s ease;                -o-transition: color .5s ease;                -o-transition: width .5s ease;                      transition: color .5s ease;                      transition: border .5s ease;  color: #fff;  border-bottom: 4px solid #fff;
}

section .shop .block .items_list .server_items .content
{
    /* display: flex; */
    flex-direction: column;  padding: 30px;  padding-top: 23px;
}

section .shop .block .items_list .server_items .content .products
{
    display: flex;  flex-direction: column;  justify-content: space-between;  min-height: 150px;  margin-bottom: 40px;
}

section .shop .block .items_list .server_items .content .products .column
{
    width: 48%;
}

section .shop .block .items_list .server_items .content .products .product
{
    width: 100%;
}

section .shop .block .items_list .server_items .content .products .product .line
{
    display: flex;  align-items: center;  justify-content: space-between;  width: 100%;
}

section .shop .block .items_list .server_items .content .products .product .line .price
{
    font-family: TT Norms;  font-size: 22px;  font-weight: bold;  font-style: normal;  line-height: 24px;  text-align: right;

/* identical to box height */

    color: #2982fe;
}

section .shop .block .items_list .server_items .content .products .product .label
{
    font-size: 14px;  font-weight: 500;  line-height: 138.52%;  margin-top: 12px;

/* or 22px */

    color: #bababa;
}

section .shop .block .items_list .server_items .content .footer
{
    display: flex;  align-items: center;  justify-content: space-between;
}

section .shop .block .items_list .server_items .content .footer .stat
{
    display: flex;  flex-direction: column;
}

section .shop .block .items_list .server_items .content .footer .stat .label
{
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 19px;
    margin-bottom: 5px;

/* identical to box height */
    text-align: left;
    color: #b9b9b9;
    padding: 0;
}

section .shop .block .items_list .server_items .content .footer .stat .label b
{
    font-family: TT Norms;  font-size: 16px;  font-weight: 500;  font-style: normal;  line-height: 19px;

/* identical to box height */

    color: #ffbc1c;
}

section .shop .block .items_list .server_items .content .footer .stat .text
{
    font-family: TT Norms;  font-size: 28px;  font-weight: 600;  font-style: normal;  line-height: 33px;  display: flex;  align-items: center;

/* identical to box height */

    color: #fff;
}

section .shop .block .items_list .server_items .content .footer .stat .text.right
{
    align-items: flex-end;  text-align: center;
}

section .shop .block .items_list .server_items .content .footer .stat .text img
{
    width: 32px;  margin-right: 8px;
}

section .shop .block .items_list .server_items .content .footer .stat .text b
{
    font-family: TT Norms;  font-size: 28px;  font-weight: bold;  font-style: normal;  line-height: 33px;  margin-left: 10px;

/* identical to box height */

    color: #2982fe;
}

section .shop .block .items_list .server_items .content .btn_buy
{
    font-family: Futura PT;  font-size: 16px;  font-weight: 600;  font-style: normal;  line-height: 21px;  display: flex;  align-items: center;  justify-content: center;  box-sizing: border-box;  width: 100%;  height: 70px;  cursor: pointer;  text-transform: uppercase;  color: #0e0e0e;  border: 1px solid #ffc400;  border-radius: 5px;  background: linear-gradient(180deg, #fcbe29 0%, #ffd600 .01%, #ffb800 100%);
}

section .shop .block .items_list .server_items .content .btn_buy img
{
    width: 24px;  margin-right: 6px;
}

section .shop .block form
{
    /* width: 450px; */
}

section .shop .block label
{
    font-size: 23px;  font-weight: bold;

/* font-family: Futura PT; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* font-size: 14px; */
    /* line-height: 18px; */
    /* text-transform: uppercase; */
    /* color: #b9b9b9; */
    font-style: normal;  line-height: 140%;  letter-spacing: .02em;

/* font-weight: 700; */

    color: #fff;
}

section .shop .block i
{
    font-size: 22px;  position: absolute;  z-index: 2;  left: 0;  display: -ms-flexbox;  display: flex;  -webkit-box-align: center;  align-items: center;  -ms-flex-align: center;  -webkit-box-pack: center;  -ms-flex-pack: center;  justify-content: center;  width: 48px;  height: 70px;  padding-left: 30px;  color: #fff;
}

section .shop .block select
{
    font-family: TT Norms;  font-size: 16px;  font-weight: 500;  font-style: normal;  line-height: 138.52%;  position: relative;  display: -ms-flexbox;  display: flex;  width: 100%;  height: 70px;  padding-right: 20px;  padding-left: 70px;  color: #fff;  border: 0 solid;  border-radius: 5px;  outline: none;  background: url(../img/select_arrow.png) no-repeat right #1f1b29;  background-position-x: 95%;  -webkit-appearance: none;
}

section .shop .block select:focus
{
    background: url('../img/select_arrow2.png') no-repeat right #1f1b29;  background-position-x: 95%;
}

section .shop .block input
{
    font-size: 21px;  font-weight: bold;

/* font-family: TT Norms; */
    /* font-style: normal; */
    /* font-weight: 500; */
    /* font-size: 16px; */
    /* line-height: 138.52%; */
    font-style: normal;  line-height: 140%;  position: relative;  height: 70px;  padding-left: 70px;  letter-spacing: .02em;

/* font-weight: 700; */

    color: #a0a0a0;      color: #fff;  border: 0 solid;  border-radius: 10px;  outline: none;  background: rgb(0 0 0 / 40%);  box-shadow: 0 7px 16px 1px rgba(113, 71, 232, .51);
}

section .shop .block input:before
{
    position: absolute;  left: 0;  width: 100px;  height: 70px;  content: '';  background: black;
}

section .shop .block button
{
    font-size: 16px;      font-size: 24px;  font-weight: 600;  font-weight: 500;

/* font-family: Futura PT; */
    font-style: normal;

/* text-transform: uppercase; */
    font-style: normal;  line-height: 21px;  line-height: 140%;  -webkit-box-sizing: border-box;                  box-sizing: border-box;  width: 100%;  height: 70px;  text-align: center;  letter-spacing: .02em;  color: #fff;  border-radius: 5px;  border-radius: 5px;

/* color: #0e0e0e; */
    outline: none;      background: -o-linear-gradient(top, #ffbc1c 0%, #ffd600 .01%, #ffb800 100%);

/* background: -webkit-gradient(linear, left top, left bottom, from(#ffbc1c), color-stop(0.01%, #ffd600), to(#ffb800)); */
    /* background: linear-gradient(180deg, #ffbc1c 0%, #ffd600 0.01%, #ffb800 100%); */
    /* border: 1px solid #ffc400; */
    /* width: 208px; */
    /* height: 59px; */
    /* left: 956px; */
    /* top: 42px; */
    background:    linear-gradient(92.25deg, #2982fe 0%, #1266da 100%);  box-shadow: 0 0 6.90198px rgb(7 164 255 / 70%), inset 0 0 2.67198px rgb(213 206 255 / 50%);
}
